.login-container {
  max-width: 500px;
  margin: 50px auto auto auto;
  padding: 30px;
}
.login-container mat-form-field {
  display: block;
  width: 100%;
}
.login-logo {
  height: 100px;
  margin: 30px auto 30px auto;
}
.role-field {
  margin-bottom: 30px;
}
